<div>
  <h1>Nome de Menina</h1>

  <div class="buttons">
    <button (click)="responder('thay')" [disabled]="desabilitarBotao">Thaylla</button>
    <button (click)="responder('gaia')" [disabled]="desabilitarBotao">Gaia</button>
    <button (click)="responder('sav')" [disabled]="desabilitarBotao">Savanah</button>
    <button (click)="responder('char')" [disabled]="desabilitarBotao">Charlotte</button>
  </div>

  <div *ngIf="resposta === 'thay'">
    <p>Escolheu bem</p>
    <p>É um a se considerar</p>
    <button (click)="proxima()">Proxima Pergunta</button>
  </div>

  <div *ngIf="resposta === 'gaia'">
    <p>Isso é nome de sitio</p>
    <p>Escolhe outro</p>
    <button (click)="voltar()">Tenta de novo</button>
  </div>

  <div *ngIf="resposta === 'sav'">
    <p>Nome de selva</p>
    <p>Escolhe outro</p>
    <button (click)="voltar()">Tenta de novo</button>
  </div>

  <div *ngIf="resposta === 'char'">
    <p>Nome de princesa</p>
    <p>É um a se considerar</p>
    <button (click)="proxima()">Proxima Pergunta</button>
  </div>
</div>
